<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">Registro De Usuarios</h2>



    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">


      <input formControlName="nombres" type="text" placeholder="Nombres"
        class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300" />
      <div *ngIf="registerForm.get('nombres')?.invalid && registerForm.get('nombres')?.touched"
        class="text-red-500 text-sm">
        Nombre es requerido
      </div>



      <input formControlName="email" type="email" placeholder="Correo electrónico"
        class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300" />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        class="text-red-500 text-sm">
        Correo válido es requerido
      </div>


      <input formControlName="password" type="password"   placeholder="Contraseña"
        class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        class="text-red-500 text-sm">
        Contraseña mínima de 6 caracteres
      </div>


      <button type="submit" [disabled]="registerForm.invalid"
        class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">
        Registrarse
      </button>
    </form>



  </div>
</div>
